/* Theme Start */

/* Theme Palette Start */

$theme_color_01: rgba(71, 171, 216, 1);
$theme_color_01_opacity: rgba(71, 171, 216, 0.5);
$theme_color_02: rgba(149, 210, 236, 1);
$theme_color_02_opacity: rgba(149, 210, 236, 0.5);
$theme_color_03: rgba(231, 249, 255, 1);
$theme_color_03_opacity: rgba(231, 249, 255, 0.5);
$theme_color_04: rgba(255, 255, 255, 1);
$theme_color_04_opacity: rgba(255, 255, 255, 0.5);
$theme_color_05: rgba(255, 66, 66, 1);
$theme_color_05_opacity: rgba(255, 66, 66, 0.5);
$theme_color_06: rgba(208, 27, 27, 1);
$theme_color_06_opacity: rgba(208, 27, 27, 0.5);

/* Theme Palette End */

/* Theme  End */

/* Gray Start */

$gray_color_01: rgb(0, 0, 0);
$gray_color_02: rgb(20, 20, 20);
$gray_color_03: rgb(40, 40, 40);
$gray_color_04: rgb(80, 80, 80);
$gray_color_05: rgb(120, 120, 120);
$gray_color_06: rgb(160, 160, 160);
$gray_color_07: rgb(200, 200, 200);
$gray_color_08: rgb(240, 240, 240);
$gray_color_09: rgb(255, 255, 255);

$gray_color_01_opacity: rgba(0, 0, 0, 0.8);
$gray_color_02_opacity: rgba(20, 20, 20, 0.8);
$gray_color_03_opacity: rgba(40, 40, 40, 0.8);
$gray_color_04_opacity: rgba(80, 80, 80, 0.8);
$gray_color_05_opacity: rgba(120, 120, 120, 0.8);
$gray_color_06_opacity: rgba(160, 160, 160, 0.8);
$gray_color_07_opacity: rgba(200, 200, 200, 0.8);
$gray_color_08_opacity: rgba(240, 240, 240, 0.8);
$gray_color_09_opacity: rgba(255, 255, 255, 0.8);

/* Gray End */



/* Global Colors Start */

$warning_color_01: rgb(192, 61, 41);
$warning_color_01_opacity: rgba(192, 61, 41, 0.8);

$success_color_01: rgb(120, 177, 63);
$success_color_01_opacity: rgba(120, 177, 63, 0.8);

/* Global Colors End */