@import "./src/assets/styles/colors.scss";

html {
    body {
        .name-section-container {
            width: 100%;
            margin-top: 1rem;
            background-color: $gray_color_08;
            box-shadow: 0 0 0 $gray_color_07_opacity;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: .1s ease-in-out;
            .inner-container {
                display: flex;
                width: 100%;
                > p {
                    margin-left: 1rem;
                    padding: 1rem 0;
                    transition: .1s ease-in-out;
                    &.title {
                        color: $gray_color_06;
                    }
                    &.value {
                        color: $gray_color_06;
                        width: 100%;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            &.active {
                .inner-container {
                    > p.value {
                        color: $gray_color_04;
                    }
                }
            }
        }
    }
}