@import "./src/assets/styles/colors.scss";

html {
    body {
        .invitation-edit-header-delete-container {
            height: inherit;
            width: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            &:hover {
                cursor: pointer;
                > svg {
                    path {
                        fill: $gray_color_06;
                    }
                }
            }
            &:active {
                > svg {
                    path {
                        fill: $gray_color_08;
                    }
                }
            }
            > svg {
                height: 0.9rem;
                path {
                    transition: .1s ease-in-out;
                    fill: $gray_color_08;
                }
            }
        }
    }
}