@import "./src/assets/styles/colors.scss";

html {
    body {
        .check-box-container {
            display: flex;
            align-items: center;
            width: fit-content;
            margin: 1rem 0;
            > .check-box {
                width: 1rem;
                height: 1rem;
                border: 3px solid $gray_color_02;
                border-radius: 2px;
                margin-right: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    transform: translateY(-1px) rotate(45deg);
                    height: 10px;
                    width: 4px;
                    border-bottom: 2px solid transparent;
                    border-right: 2px solid transparent;

                }
            }
            > p.check-box-text {
                color: $gray_color_02;
                font-weight: 500;
                transition: .1s ease-in-out;
            }
            &.check {
                > p {
                    color: $gray_color_05;
                }
                > .check-box {
                    &:after {
                        border-color: $gray_color_08;
                    }
                }
            }
            &:hover {
                cursor: pointer;
                > p {
                    //color: $gray_color_02;
                }
                > .check-box {
                    //border-color: $gray_color_02;
                    &:after {
                        //background-color: $gray_color_05;
                    }
                }
                &.check {
                    > .check-box {
                        &:after {
                            //background-color: $gray_color_02;
                        }
                    }
                }
            }
        }
    }
}