@import "./src/assets/styles/colors.scss";

html {
    body {
        .profile-navigation-button-container {
            width: 85%;
            height: 3rem;
            margin-bottom: 1rem;
            background-color: $gray_color_07;
            display: flex;
            align-items: center;
            border-radius: 3px;
            position: relative;
            transition: .1s ease-in-out;
            &:hover {
                cursor: pointer;
                > p {
                    color: $gray_color_04;
                }
            }
            > p {
                padding-left: 1rem;
                font-size: 1.2rem;
                font-weight: 500;
                color: $gray_color_05;
                user-select: none;
                text-transform: capitalize;
                transition: .1s ease-in-out;
            }
            &.active {
                background-color: $gray_color_02;
                &:after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-right: 2px solid $gray_color_07;
                    border-bottom: 2px solid $gray_color_07;
                    transform: rotate(-45deg);
                    position: absolute;
                    right: 1rem;
                    z-index: 1;
                }
                > p {
                    color: $gray_color_07;
                }
            }
        }
    }
}