@import "./src/assets/styles/colors.scss";

html {
    body {
        .character-counter-container {
            width: fit-content;
            height: fit-content;
            display: flex;
            pointer-events: none;
            > p {
                font-size: 1rem;
                line-height: 1;
                color: transparent;
                user-select: none;
                &.current-count {

                }
                &.separator {
                    margin: 0 0.2rem;
                }
            }
            &.active {
                > p {
                    color: $gray_color_07;
                }
            }
        }
    }
}