@import "./src/assets/styles/colors.scss";

html {
    body {
        .new-invitation-container {
            height: 100%;
            background-color: $theme_color_02;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .1s ease-in-out;
            > .plus-icon {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 3rem;
                transition: .5s ease-in-out;
                &:before {
                    content: '';
                    width: 3rem;
                    height: 0.5rem;
                    border-radius: 2px;
                    background-color: $theme_color_03;
                    position: absolute;
                }
                &:after {
                    content: '';
                    width: 0.5rem;
                    height: 3rem;
                    border-radius: 2px;
                    background-color: $theme_color_03;
                    position: absolute;
                }
            }
            > p {
                font-weight: 600;
                font-size: 2rem;
                color: $theme_color_03;
            }
            &:hover {
                cursor: pointer;
                background-color: $theme_color_01;
                > .plus-icon {
                    transform: rotate(180deg);
                    &:before {
                        //background-color: $theme_color_05;
                    }
                    &:after {
                        //background-color: $theme_color_05;
                    }
                }
                > p {
                    //color: $theme_color_05_opacity;
                }
            }
            &:active {
                background-color: $gray_color_09;
                > .plus-icon {
                    &:before {
                        background-color: $gray_color_06;
                    }
                    &:after {
                        background-color: $gray_color_06;
                    }
                }
                > p {
                    color: $gray_color_06;
                }
            }
        }
    }
}