@import "./src/assets/styles/colors.scss";

html {
    body {
        .create-invitation-type-container {
            height: inherit;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 2rem;
            > .selection-container {
                display: flex;
                justify-content: space-between;
                width: 70%;
                > .chat-container,
                > .date-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    > p {
                        color: $gray_color_06;
                        font-size: 1.2rem;
                        font-weight: 600;
                        transition: .1s ease-in-out;
                    }
                    > .icon-container {
                        border-radius: 3px;
                        height: 150px;
                        width: 150px;
                        background-color: $gray_color_02;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: background-color .1s ease-in-out;
                        > svg {
                            width: 50%;
                            path {
                                fill: $gray_color_08;
                            }
                        }
                    }
                    &:hover {
                        > p {
                            transform: translateY(-0.5rem);
                            color: $gray_color_02;
                        }
                        > .icon-container {
                            cursor: pointer;
                            background-color: $gray_color_02_opacity;
                        }
                    }
                    &:active {
                        > p {
                            transform: translateY(0);
                            color: $gray_color_02;
                        }
                        > .icon-container {
                            background-color: $gray_color_02;
                        }
                    }
                }
            }
        }
    }
}