@import "./src/assets/styles/colors.scss";

html {
    body {
        .profile-container {
            //width: 100%;
            min-height: 100vh;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 150px 200px 80px 200px;
        }
    }
}