@import "./src/assets/styles/colors.scss";

html {
    body {
        .profile-picture-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateY(-50px);
            > .image-container {
                width: 200px;
                height: 200px;
                background-color: $gray_color_07;
                border: 4px solid $gray_color_08;
                border-radius: 3px;
                transition: .1s ease-in-out;
                > img {
                    width: inherit;
                    border-radius: 1px;

                }
            }
            > p {
                font-weight: 400;
                color: $gray_color_08;
                background-color: $gray_color_02;
                padding: 0.3rem 1rem;
                border-radius: 3px;
                transform: translateY(-50%);
                transition: .1s ease-in-out;
                box-shadow: 0 0 15px $gray_color_07_opacity;
                &:hover {
                    cursor: pointer;
                    background-color: $gray_color_04;

                }
                &:active {
                    background-color: $gray_color_02;

                }
            }
            &.active {
                > .image-container {
                    border-color: $gray_color_02;
                }
            }
        }
    }
}