@import "./src/assets/styles/colors.scss";

.side-menu-create-user-container {
    width: 100%;
    > .create-user-button {
        width: auto;
        margin: 1rem;
        height: 60px;
        background-color: $gray_color_08;
        border: 2px solid $gray_color_08;
        border-radius: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        > p {
            font-size: 1.2rem;
            font-weight: 600;
            color: $gray_color_02;

        }
        &:active {
            border-color: $gray_color_06;
            background-color: transparent;
            > p {
                color: $gray_color_06;

            }
        }
    }
}