@import "./src/assets/styles/colors.scss";

html {
    body {
        .invitations-container {
            width: 100%;
            height: fit-content;
            margin: 2rem 0;
            display: flex;
            flex-direction: column;
        }
    }
}