@import "./src/assets/styles/colors.scss";

html {
    body {
        .image-comment-container {
            height: calc(100% - 3rem);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            border-right: 4px solid $gray_color_09;
            > .input-container {
                height: 100%;
                > .input-text-area-container {
                    height: 100%;
                    position: unset;
                    > textarea {
                        padding: 0 1rem 1rem 1rem;
                        height: 100%;
                    }
                    > .character-counter-container {
                        position: absolute;
                        top: 0;
                        margin: 0;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        > p {
                            color: $gray_color_07;
                            font-size: .9rem;
                        }
                    }
                }
            }
        }
    }
}