@import "./src/assets/styles/colors.scss";

html {
    body {
        .day-list-container {
            margin-bottom: 1rem;
            position: relative;
            padding-left: 1rem;
            &:before {
                content: "";
                height: 100%;
                width: 2px;
                position: absolute;
                left: 0;
                background-color: $gray_color_06;
            }
            > .title-container {
                display: flex;
                align-items: center;
                > p {
                    color: $gray_color_06;
                    font-size: 1rem;
                    line-height: 1;
                    text-transform: capitalize;
                    > span {
                        &.day {
                            margin-right: 0.5rem;
                        }
                        &.month {
                            margin-left: 0.5rem;
                        }
                        &.metric-day {
                            margin-left: 0.5rem;
                        }
                    }
                    &.day-reference {
                        color: $gray_color_07;
                        margin-left: 0.5rem;
                    }
                }
            }
            > ul.list-container {
                list-style: none;
                padding: 0 0 0 0;
                display: flex;
                flex-direction: column;
                margin: 0;
            }
        }
    }
}