html {
    body {
        .footer-navigation-container {
            width: auto;
            min-height: 100px;
            display: flex;
            flex-wrap: wrap;
        }
        &.mobile {
            .footer-navigation-container {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}