@import "./src/assets/styles/colors.scss";

html {
    body {
        .website-header-container {
            padding: 0 100px;
            height: 60px;
            display: flex;
            background-color: $gray_color_08;
            position: fixed;
            left: 0;
            right: 0;
            box-shadow: 0 0 15px rgb(200 200 200 / 80%);

        }
        &.mobile {
            .website-header-container {
                padding: 0 10px;

            }
        }
    }
}

