@import "./src/assets/styles/colors.scss";

@keyframes loading {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.button-container {
    background-color: $gray_color_06;
    width: fit-content;
    padding: 0.5rem 2rem;
    border-radius: 3px;
    transition: .1s ease-in-out;
    pointer-events: none;
    &.active {
        background-color: $gray_color_02;
        pointer-events: unset;
    }
    &.loading {
        animation: loading 1s ease-in-out infinite;
        pointer-events: none;

    }
    > p {
        font-weight: 400;
        color: $gray_color_07;
        user-select: none;
        margin: 0;
        transition: .1s ease-in-out;

    }
    &:hover {
        cursor: pointer;
        background-color: $gray_color_02_opacity;

    }
    &:active {
        background-color: $gray_color_02;

    }

    /* Warning Button Start */

    &.warning {
        background-color: $warning_color_01;
        > p {
            color: $gray_color_08;

        }
        &:hover {
            background-color: $warning_color_01_opacity;

        }
        &:active {
            background-color: $warning_color_01;

        }
    }

    /* Warning Button End */

}