@import "./src/assets/styles/colors.scss";

html {
    body {
        .delete-account-section-container {
            width: 100%;
            margin-top: 1rem;
            background-color: $gray_color_08;
            box-shadow: 0 0 5px $gray_color_07_opacity;
            > .text-container {
                > p {
                    width: 100%;
                    margin: 1rem;
                    color: $gray_color_06;
                }
            }
            > .delete-account-button {
                margin: 1rem 2rem;
                background-color: $gray_color_02;
                width: fit-content;
                padding: 0.5rem 2rem;
                border-radius: 3px;
                transition: .1s ease-in-out;
                > p {
                    font-weight: 400;
                    color: $gray_color_07;
                    user-select: none;
                    transition: .1s ease-in-out;

                }
                &:hover {
                    cursor: pointer;
                    background-color: $warning_color_01_opacity;
                    > p {
                        color: $gray_color_08;

                    }
                }
                &:active {
                    background-color: $warning_color_01;
                    > p {
                        color: $gray_color_08;

                    }
                }
            }
        }
    }
}