@import "./src/assets/styles/colors.scss";

html {
    body {
        .create-user-stage-two-container {
            height: inherit;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            > p {
                position: absolute;
                bottom: 2rem;
                color: $gray_color_04;
                transition: all .1s ease-in-out;
                &:hover {
                    cursor: pointer;
                    color: $gray_color_03;
                }
                &:active {
                    color: $gray_color_01;
                }
                &.password-expired {
                    border-radius: 3px;
                    background-color: $gray_color_02;
                    color: $gray_color_07;
                    padding: 0.5rem 1rem;
                    &:hover {
                        background-color: $gray_color_04;
                    }
                    &:active {
                        background-color: $gray_color_02;
                    }
                }
            }
        }
    }
}