@import "./src/assets/styles/colors.scss";

html {
    body {
        .image-list-container {
            width: 100%;
            height: fit-content;
            margin: 1rem 0 0 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            .draggable-item {
                margin-top: 1rem;
            }
        }
    }
}