@import "./src/assets/styles/colors.scss";

html {
    body {
        .invitation-edit-header-repeat-container {
            height: inherit;
            width: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                cursor: pointer;
            }
            > svg {
                height: 0.9rem;
                path {
                    fill: $gray_color_08;
                }
            }
        }
    }
}