@import "./src/assets/styles/colors.scss";

html {
    body {
        .my-image-container {
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: transparent;
            border: none;
            .image-container {
                max-height: 500px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;
                position: relative;
                background-color: $gray_color_02;
                img {
                    width: unset;
                    height: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }
                > .loading-container {
                    background-color: transparent;
                }
            }
            .comment-container {
                background-color: transparent;
                width: 100%;
                height: fit-content;
                max-height: 6rem;
                overflow-y: scroll;
                display: flex;
                justify-content: center;
                &.loading {
                    opacity: 0;
                }
                p.comment {
                    color: $gray_color_08;
                    font-size: 1.4rem;
                    line-height: 1.2;
                    font-weight: 300;
                    white-space: break-spaces;
                    width: fit-content;
                }

                /*  Scrollbar Start  */

                &::-webkit-scrollbar {
                    width: 6px;
                    border-radius: 0 3px 3px 0;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $gray_color_04;
                    border-radius: 0.2em;
                }

                /*  Scrollbar End  */

            }
        }
    }
}