@import "./src/assets/styles/colors.scss";

html {
    body {
        .create-user-stage-age-limit-container {
            height: inherit;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }
}