@import "./src/assets/styles/colors.scss";

html {
    body {
        .edit-name-container {
            margin-top: 2rem;
            width: 100%;
            > .title-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                > h2 {
                    font-size: 1rem;
                    line-height: 1;
                    font-weight: 400;
                    color: $gray_color_06;
                }
            }
            > .input-container {
                margin: 1rem 0;
            }
        }
    }
}