@import "./src/assets/styles/colors.scss";

html {
    body {
        .drag-and-drop-container {
            margin-bottom: 1rem;
            .file-uploader-container {
                height: 10rem;
                background-color: $gray_color_07;
                border: 3px dashed $gray_color_06;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .1s ease-in-out;
                &:hover {
                    cursor: pointer;
                    background-color: $gray_color_06;
                    border-color: $gray_color_04;
                    > p {
                        color: $gray_color_03;
                    }
                }
                &:active {
                    background-color: $gray_color_07;
                    border-color: $gray_color_06;
                }
                > .icon-container {
                    svg {
                        height: 4rem;
                    }
                }
                > p {
                    font-size: 1.2rem;
                    color: $gray_color_04;
                }
            }
        }
    }
}