@import "./src/assets/styles/colors.scss";

.input-container {
    &.email {
        pointer-events: none;
        width: 80%;
        margin: 1rem 0;
        transition: .2s ease-in-out;
        &:hover {
            cursor: text;

        }
        > p {
            border-radius: 3px;
            line-height: 1rem;
            display: flex;
            align-items: center;
            padding: 1rem;
            background-color: $gray-color-07;
            color: $gray_color_06;
            &:focus {
                background-color: $gray_color_07;
                outline: none;
                color: $gray_color_04;

            }
        }
        &.active {
            pointer-events: unset;
            opacity: 1;
            &.loading {
                pointer-events: none;
                opacity: 0.3;

            }
        }
    }
}