@import "./src/assets/styles/colors.scss";

html {
    body {
        .create-invitation-stage-time-start-container {
            height: inherit;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            > .selection-container {
                padding-top: 1rem;
                display: flex;
                flex-wrap: wrap;
                width: 90%;
            }
            > .button-container {
                margin-top: 2rem;
            }
        }
    }
}