@import "./src/assets/styles/colors.scss";

html {
    body {
        .invitation-edit-header-container {
            width: 100%;
            height: 1.5rem;
            position: absolute;
        }
    }
}