@import "./src/assets/styles/colors.scss";

html {
    body {
        .image-item-container {
            width: inherit;
            display: flex;
            border-radius: 3px;
            background-color: $gray_color_09;
            overflow: hidden;
            border: 4px solid $gray_color_09;
            box-sizing: border-box;
            position: relative;
            &.grabbing {
                border-color: $gray_color_07;
                box-shadow: 0 0 10px rgba(0, 0, 0, .2);
            }
            > .image-container {
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                width: 12rem;
                height: 12rem;
                position: relative;
                border-radius: 3px;
                &:hover {
                    cursor: pointer;
                    > .icon-container {
                        background-color: $gray_color_02_opacity;
                        > svg {
                            background-color: $gray_color_09;
                            path {
                                fill: $gray_color_02;
                            }
                        }
                    }
                }
                &:active {
                    > .icon-container {
                        background-color: transparent;
                        > svg {
                            background-color: $gray_color_09_opacity;
                            path {
                                fill: $gray_color_04;
                            }
                        }
                    }
                }
                > .icon-container {
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    transition: .1s ease-in-out;
                    > svg {
                        margin: 5px 0 0 5px;
                        width: 20px;
                        height: auto;
                        background-color: $gray_color_09_opacity;
                        padding: 3px 2px 2px 3px;
                        border-radius: 5px;
                        transition: .1s ease-in-out;
                        path {
                            fill: $gray_color_04;
                            transition: .1s ease-in-out;
                        }
                    }
                }
                > img {
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                }
            }
            > .main-image-item-container {
                width: calc(100% - 12rem - 2rem);
                display: flex;
                flex-direction: column;
                position: relative;
            }
            > .handle-container {
                background-color: $gray_color_07;
                width: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                transition: .1s ease-in-out;
                > svg {
                    width: 1rem;
                    height: auto;
                    path {
                        fill: $gray_color_06;
                        transition: .1s ease-in-out;
                    }
                }
                &:hover {
                    background-color: $gray_color_02;
                }
                &:active {
                    cursor: grabbing;
                    border-radius: 0;
                    background-color: $gray_color_02;
                    > svg {
                        path {
                            fill: $gray_color_04;
                        }
                    }
                }
            }
        }
    }
}