@import "./src/assets/styles/colors.scss";

@keyframes out-from-top {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes out-from-bottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes in-from-top {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes in-from-bottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

html {
    body {
        .input-time-container {
            display: flex;
            align-items: center;
            > span.colon {
                font-size: 2rem;
                margin: 0 0.5rem;
                color: $gray_color_07;
                user-select: none;
            }
            > .hour-container,
            > .minuets-container {
                width: 60px;
                height: fit-content;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                > .plus-arrow {
                    width: inherit;
                    height: 2rem;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        cursor: pointer;
                        &:after {
                            border-bottom-color: $gray_color_04;
                        }
                    }
                    &:active {
                        &:after {
                            border-bottom-color: $gray_color_06;
                        }
                    }
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-bottom: 10px solid $gray_color_07;
                        position: absolute;
                        transition: .1s ease-in-out;
                    }
                }
                > .minus-arrow {
                    width: inherit;
                    height: 2rem;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        cursor: pointer;
                        &:after {
                            border-top-color: $gray_color_04;
                        }
                    }
                    &:active {
                        &:after {
                            border-top-color: $gray_color_06;
                        }
                    }
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 10px solid $gray_color_07;
                        position: absolute;
                        transition: .1s ease-in-out;
                    }
                }
                > .value-container {
                    width: inherit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 3rem;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    > p.current-element {
                        position: absolute;
                        transition: 0.5s linear;
                        font-size: 2rem;
                        line-height: 1;
                        color: $gray_color_04;
                        &.out-from-top {
                            animation: out-from-top 0.2s linear;
                        }
                        &.out-from-bottom {
                            animation: out-from-bottom 0.2s linear;
                        }
                        &.in-from-top {
                            animation: in-from-top 0.2s linear;
                        }
                        &.in-from-bottom {
                            animation: in-from-bottom 0.2s linear;
                        }
                    }
                }
            }
        }
    }
}