@import "./src/assets/styles/colors.scss";

html {
    body {
        .details-container {
            width: auto;
            padding: 50px;
            display: flex;
            flex-direction: column;
            > p {
                color: $gray_color_06;
            }
        }
    }
}