@import "./src/assets/styles/colors.scss";

.logo-container {
    width: fit-content;
    height: inherit;
    display: flex;
    align-items: center;
    > a {
        > img {
            margin: 0.5rem;
            height: 40px;

        }
    }
}