html {
    body {
        .create-user-stage-email-container {
            height: inherit;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }
}