@import "./src/assets/styles/colors.scss";

html {
    body {
        .delete-account-container {
            width: 500px;
            border-radius: 3px;
            background-color: $gray_color_08;
            padding: 2rem;
        }
    }
}