@import "./src/assets/styles/colors.scss";

html {
    body {
        .invitation-day-tab-container {
            > a {
                background-color: $gray_color_07;
                margin-bottom: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 3rem;
                border-radius: 3px;
                position: relative;
                > p {
                    font-size: 1rem;
                    color: $gray_color_05;
                    text-transform: capitalize;
                    margin-left: 1rem;
                }
                > .index-container {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    > p.chats-index {
                        background-color: $gray_color_08_opacity;
                        color: $gray_color_07;
                        font-size: 0.9rem;
                        font-weight: 600;
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-left: 0.5rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    > p.events-index {
                        background-color: $gray_color_08_opacity;
                        color: $gray_color_07;
                        font-size: 0.9rem;
                        font-weight: 600;
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-left: 0.5rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                > .arrow-container {
                    width: 3rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: auto;
                    &:after {
                        //content: '';
                        //width: 10px;
                        //height: 10px;
                        //border-right: 2px solid $gray_color_06;
                        //border-bottom: 2px solid $gray_color_06;
                        //transform: rotate(-45deg);
                        //position: absolute;
                        //right: 1rem;
                        //z-index: 1;
                    }
                }
                &:hover {
                    cursor: pointer;

                }
            }
            &.active {

            }
        }
    }
}