@import "./src/assets/styles/colors.scss";

html {
    body {
        .input-string-container {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            &.loading {
                pointer-events: none;

            }
            > p.input-string {
                border-radius: 3px;
                background-color: $gray_color_09;
                color: $gray_color_06;
                height: 1rem;
                font-size: 1rem;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 1rem;
                transition: color .1s ease-in-out;
                &:focus {
                    outline: none;
                    color: $gray_color_04;
                }

            }
        }
    }
}