@import "./src/assets/styles/colors.scss";

.profile-thumbnail-button-container {
    width: fit-content;
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
        > .image-container {
            &:after {
                border-color: $gray_color_02;

            }
        }
    }
    > .image-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 15px;
        background-color: $gray_color_07;
        display: flex;
        align-items: center;
        transition: .1s ease-in-out;
        overflow: hidden;
        > img {
            width: inherit;
        }
        &:after {
            content: '';
            width: 7px;
            height: 7px;
            border-right: 3px solid $gray_color_05;
            border-bottom: 3px solid $gray_color_05;
            position: absolute;
            right: 0;
            transform: rotate(-45deg);
            transition: .1s ease-in-out;

        }
    }
}